/* In your CSS file or style block */
p {
  color: black;
}

h2 {
  color: black;
}

.itemimg-icon {
  /* Center the image horizontally and vertically */
  margin: auto;
  height: 481px;
  border-radius: 12px;
  object-fit: cover;
}

.item-name {
  margin: 0;
}

.price,
.itemname {
  align-self: stretch;
  position: relative;
  line-height: 30px;
}

.price {
  white-space: nowrap;
}

.item-description {
  margin: 0;
}

.description {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  line-height: 30px;
}

.item {
  align-self: center; /* Center the item */
  max-width: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start;
  gap: 3px;
  text-align: left;
  font-size: 14px;
  color: #667085;
  font-family: Inter;
}
