.header{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}


.navigation, .login-button {
    display: flex;
    gap: 30px;
}

.header-title {
    display: flex;
    align-items: center;
}

.logo {
    width:50px;
    height: auto;

}

.signup {
    gap: 50px;
}